
.header
{
	font-family: Comic Sans MS;
	font-size: 50px;
	font-style: bold;
	
	color:#008CBA;
}

.subheader
{
	font-family: Comic Sans MS;
	font-size: 12px;
	font-style: plain;
	
	color:LightBlue;
}

.devheader
{
	font-family: Comic Sans MS;
	font-size: 25px;
	font-style: bold;
	
	color:LimeGreen;
}

.devinfo
{
	font-family: "Times-New Roman";
	font-size: 18px;
	font-style: plain;
	color:Black;
	
}

.devinfomail
{
	font-family: "Times-New Roman";
	font-size: 18px;
	font-style: italic;
	
	color:blue;
}

.insheader
{
	font-family: Comic Sans MS;
	font-size: 25px;
	font-style: bold;
	
	color:MidnightBlue;
}

.insinfo
{
	font-family: "Times-New Roman";
	font-size: 18px;
	font-style: plain;
	
	text-align: justify;
	color:Black;
}

.logoutbtn
{
	width:80px;
	height:35px;
	background-color: white;
	color: black;
	border-radius: 12px;
	border: 2px solid #008CBA;
	text-align: center;
	font-size: 16px;
	transition-duration: 0.4s;
    cursor: pointer;
}
input[type="submit"].logoutbtn:hover
{
	background-color: red; 
    color: white; 
    border: 2px solid red;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}