
.header
{
	font-family: Comic Sans MS;
	font-size: 50px;
	font-style: bold;
	
	color:#008CBA;
}

.subheader
{
	font-family: Comic Sans MS;
	font-size: 12px;
	font-style: plain;
	
	color:LightBlue;
}

.devheader
{
	font-family: Comic Sans MS;
	font-size: 25px;
	font-style: bold;
	
	color:LimeGreen;
}

.devinfo
{
	font-family: "Times-New Roman";
	font-size: 18px;
	font-style: plain;
	color:Black;	
}

.devinfoname
{
	font-family: Comic Sans MS;
	font-style: plain;
	color:Black;
}

.devinfodesign
{
	color:#5F9EA0;
}

.devinfomail
{
	font-family: Comic Sans MS;
	font-size: 15px;
	color: #483D8B;
	font-style: italic;	
	text-decoration: none;
}

.insheader
{
	font-family: Comic Sans MS;
	font-size: 25px;
	font-style: bold;
	
	color:MidnightBlue;
}

.insinfo
{
	font-family: "Times-New Roman";
	font-size: 18px;
	font-style: plain;
	
	text-align: justify;
	color:Black;
}

.logoutbtn
{
	width:80px;
	height:35px;
	background-color: white;
	color: black;
	border-radius: 12px;
	border: 2px solid #008CBA;
	text-align: center;
	font-size: 16px;
	transition-duration: 0.4s;
    cursor: pointer;
}
input[type="submit"].logoutbtn:hover
{
	background-color: red; 
    color: white; 
    border: 2px solid red;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card 
{
	max-width: 250px;
	margin: auto;
	text-align: center;
	font-family: arial;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	padding-bottom: 2px;
	border-radius: 5px;
}
img {
  border-radius: 5px 5px 0 0;
}
.card:hover 
{
	max-width: 300px;
	box-shadow: 0 8px 24px 0 rgba(0,0,0,0.2);
}

#cardTable
{
	border-collapse: collapse;
    width: 100%;
}
#cardTable tr
{
	width: 100%;
}
#cardTable th
{
	width: 33.33%;
}